<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/static/css/Home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                background-color: rgb(230, 96, 44);
            }
        </style>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    </head>
    <body>
    <!-- <body onload="autoclick()" onkeydown="return (event.keyCode == 154)"> -->
        <div class="container" align="center">
            <div class="jumbotron" id="jumbo">
                <form class="" action="/register/" method="POST">
                    {% csrf_token %}
                    <p>Enter First Name:
                    <input type="text" name="first_name" value=""></p><br>
                    <p>Enter Last Name:
                    <input type="text" name="last_name" value=""></p><br>
                    <p>Enter Email Address:
                    <input type="Email" name="email" value=""></p><br>
                    <p>Enter UserName:
                    <input type="text" name="username" value=""></p><br>
                    <p>Enter Password:
                    <input type="password" name="password1" value=""></p><br>
                    <p>Confirm Password:
                    <input type="password" name="password2" value=""></p><br>
                    <!-- <button  style="display: none;" type="button" class="btn btn-success" id="dummy" >Submit1</button> -->
                    <input type="Submit" class="btn btn-success" value="Register"><br>
                    <button type="button" class="btn btn-primary" name="reg" onclick="window.location.href='/login/'">Login</button>
                </form>
                </div>
        </div>
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
          crossorigin="anonymous"></script>
        <script src="scr.js">
        </script> -->
        <div>

            {% for message in messages %}
            <h3> {{ message }} </h3>
            {% endfor %}

        </div>
    </body>

    <!-- <script type="text/javascript">
            function autoclick() {

                console.log("nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn");

                var x = document.getElementById("jumbo").querySelectorAll("p");
                var i;
                var que = [];
                for (i = 0; i < x.length; i++) {
                    if (!String(x[i].textContent).endsWith("?")){
                        que[i]=String(x[i].textContent)+"?";
                    }
                    else{
                        que[i]=x[i].textContent;
                    }

                }

                console.log(que);

                console.log("yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy");


                $("#dummy").click()
                    que = que.join();

                    $.ajax({
                        type: 'POST',
                        url:  "/tts1/",
                        data:{'que': que,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                        success: function (data) {
                            console.log("====================================================");


                        },
                        error: function (data) {
                            console.log("66666666666666666666666666666666666666666666");


                    }
                }
                )

            }
</script>
 -->

</html>
