<!DOCTYPE html>
<html>
    <head>
        <title>Section Submission</title>
        <link rel="stylesheet" href="/static/css/Home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                background-color: rgb(230, 96, 44);
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body onload="autoclick()" onkeydown="return (event.keyCode == 154)">
        <div class="container" align="center">
            <div class="jumbotron" id="jumbo">
                <p>Section-4 Submitted Successfully</p>
                <p>Test Completed Successfully.</p>
                <!--<button type="button" class="btn btn-primary" name="start" onclick="window.location.href='/result/'">Check result</button>-->
                <button  style="display: none;" type="button" class="btn btn-success" id="dummy" >Submit1</button>
                <button type="button" class="btn btn-danger" name="LogOut" onClick="document.getElementById('logoutform').submit()">LogOut</button>
                <button type="button" class="btn btn-primary" name="Check result" onclick="window.location.href='/result/'">Check result</button>


            </div>
        </div>
    </body>
    <script type="text/javascript">
            function autoclick() {

                console.log("nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn");

                var x = document.getElementById("jumbo").querySelectorAll("p");
                var y = document.getElementById("jumbo").querySelectorAll("button");
                var i;
                var que = [];
                var but = [];
                for (i = 0; i < x.length; i++) {
                    if (!String(x[i].textContent).endsWith("?")){
                        que[i]=String(x[i].textContent)+"?";
                    }
                    else{
                        que[i]=x[i].textContent;
                    }

                }
                for (i = 0; i < y.length; i++) {
                    if (!String(y[i].textContent).endsWith("?")){
                        but[i]=String(y[i].textContent)+"?";
                    }
                    else{
                        but[i]=y[i].textContent;
                    }

                }

                console.log(but+"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb");

                console.log("yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy");


                $("#dummy").click()
                    que = que.join();
                    but = but.join();

                    $.ajax({
                        type: 'POST',
                        url:  "/tts1/",
                        data:{'que': que,but,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                        success: function (data) {
                            console.log("====================================================");


                        },
                        error: function (data) {
                            console.log("66666666666666666666666666666666666666666666");


                    }
                }
                )

            }
</script>
</html>
