<!DOCTYPE html>
<html>
    <head>
        <title>Section Instructions</title>
        <link rel="stylesheet" href="/static/css/Home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                background-color: rgb(230, 96, 44);
            }
            .ins{
                text-align: center;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body onload="autoclick()" onkeydown="return (event.keyCode == 154)">
        <div class="container">
            <div class="jumbotron" id="jumbo">
                <p class="ins">Section-4 Instructions</p>
                <p>1. This section will include quantitative questions.</p>
                <p>2. Total number of questions is 30.</p>
                <p>3. After question is read, you will get 30 seconds to think and then you can answer.</p>
                <p>4. After attempting 30 questions, sections will be submitted automatically.</p>
                <p class="ins">ALL THE BEST!!</p>
                <form align="center">
                  <button  style="display: none;" type="button" class="btn btn-success" id="dummy" >Submit1</button>
                  <button align="center" type="button" class="btn btn-success" name="Start" onclick="window.location.href='/quantitative/'">Start</button>
                </form>
            </div>
        </div>
    </body>

    <script type="text/javascript">
              function autoclick() {

                  console.log("nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn");

                  var x = document.getElementById("jumbo").querySelectorAll("p");
                  var y = document.getElementById("jumbo").querySelectorAll("button");
                  var i;
                  var que = [];
                  var but = [];

                  for (i = 0; i < x.length; i++) {
                      if (!String(x[i].textContent).endsWith("?")){
                          que[i]=String(x[i].textContent)+"?";
                      }
                      else{
                          que[i]=x[i].textContent;
                      }

                  }

                  for (i = 0; i < y.length; i++) {
                      if (!String(y[i].textContent).endsWith("?")){
                          but[i]=String(y[i].textContent)+"?";
                      }
                      else{
                          but[i]=y[i].textContent;
                      }

                  }

                  console.log(que);

                  console.log("yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy");


                  $("#dummy").click()
                      que = que.join();
                      but = but.join();

                      $.ajax({
                          type: 'POST',
                          url:  "/tts1/",
                          data:{'que': que,but,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                          success: function (data) {
                              console.log("====================================================");


                          },
                          error: function (data) {
                              console.log("66666666666666666666666666666666666666666666");


                      }
                  }
                  )

              }
  </script>

  </html>
