<!DOCTYPE html>
<html>
    <head>
        <title>Question</title>
        <link rel="stylesheet" href="/static/css/Home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                background-color: rgb(230, 96, 44);
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body onload="autoclick()" onkeydown="return (event.keyCode == 154)">
        <div class="container" align="center">
            <div class="jumbotron">
                <form class="" action="/sec1sub/" method="post" id="qform">
                    {% csrf_token %}
                    {% for i in object_list %}
                    <p class="q">{{i.question}}</p>
                    <p class="one">{{i.la}}</p>
                    <p class="two">{{i.lb}}</p>
                    <p class="three">{{i.lc}}</p>
                    <p class="four">{{i.ld}}</p>




                    <input type="text" name="x" value="" class="inp" autofocus="autofocus" />
                    <button type="button" class="btn btn-success" name="repp" id="{{ forloop.counter }}" onclick="rep(this.id)">Repeat</button>


                    <br><br><br><br>
                    {% endfor %}
                    <button  style="display: none;" type="button" class="btn btn-success" id="dummy" >Submit1</button>

                    <button type="submit" class="btn btn-success" name="submit" id="ques1sub">Submit</button>

                </form>

            </div>
        </div>
    </body>
    <script type="text/javascript">
            function autoclick() {

                console.log("nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn");
                var mod="{{ mod }}";

                var x = document.getElementById("qform").querySelectorAll("p.q");
                var i;
                var que = [];
                for (i = 0; i < x.length; i++) {
                    if (!String(x[i].textContent).endsWith("?")){
                        que[i]=String(x[i].textContent)+"?";
                    }
                    else{
                        que[i]=x[i].textContent;
                    }

                }
                console.log(que);

                var y = document.getElementById("qform").querySelectorAll("p.one");
                var j;
                var o = [];
                for (j = 0; j < y.length; j++) {
                    o[j]=String(y[j].textContent)+"#";
                }

                var z = document.getElementById("qform").querySelectorAll("p.two");
                var k;
                var op = [];
                for (k = 0;  k< z.length; k++) {
                    op[k]=String(z[k].textContent)+"#";

                }


                var w = document.getElementById("qform").querySelectorAll("p.three");
                var l;
                var opt = [];
                for (l = 0; l < w.length; l++) {
                    opt[l]=String(w[l].textContent)+"#";
                }

                var v = document.getElementById("qform").querySelectorAll("p.four");
                var m;
                var opti = [];
                for (m = 0; m< v.length; m++) {
                    opti[m]=String(v[m].textContent)+"#";

                }
                console.log(opti);



                console.log("yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy");


                $("#dummy").click()
                    que = que.join();
                    o = o.join();
                    op = op.join();
                    opt = opt.join();
                    opti = opti.join();
                    $.ajax({
                        type: 'POST',
                        url:  "/tts/",
                        data:{'que': que,'o':o,'op':op,'opt':opt,'opti':opti,'mod':mod,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                        success: function (data) {
                            console.log("====================================================");


                        },
                        error: function (data) {
                            console.log("66666666666666666666666666666666666666666666");
                            console.log(data);


                    }
                }
                )

            }



            function rep(cid) {
                console.log(cid,"ccccccccccccccccccccccccccccccccccccccccccccc");

                var x = document.getElementById("qform").querySelectorAll("p.q");
                var que = [];
                que[0]=String(x[cid-1].textContent)+"?";
                console.log(x);



                var y = document.getElementById("qform").querySelectorAll("p.one");
                var o = [];
                o[0]=String(y[cid-1].textContent)+"#";


                var z = document.getElementById("qform").querySelectorAll("p.two");
                var op = [];
                op[0]=String(z[cid-1].textContent)+"#";


                var w = document.getElementById("qform").querySelectorAll("p.three");
                var opt = [];
                opt[0]=String(w[cid-1].textContent)+"#";

                var v = document.getElementById("qform").querySelectorAll("p.four");
                var opti = [];
                opti[0]=String(v[cid-1].textContent)+"#";
                console.log(opti);


                console.log("yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy");


                $("#dummy").click()
                    que = que.join();
                    o = o.join();
                    op = op.join();
                    opt = opt.join();
                    opti = opti.join();
                    $.ajax({
                        type: 'POST',
                        url:  "/tts_repeat/",
                        data:{'que': que,'o':o,'op':op,'opt':opt,'opti':opti,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                        success: function (data) {
                            console.log("====================================================");


                        },
                        error: function (data) {
                            console.log("66666666666666666666666666666666666666666666");
                            console.log(data);


                    }
                }
                )
        }
        </script>
</html>
