<!DOCTYPE html>
<html>
    <head>
        <title>Section Instructions</title>
        <link rel="stylesheet" href="/static/css/Home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                background-color: rgb(230, 96, 44);
            }
            .ins{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <p class="ins">Section-1 Instructions</p>
                <p>1. This section will include logical questions.</p>
                <p>2. Total number of questions is 30.</p>
                <p>3. After question is read, you will get 30 seconds to think and then you can answer.</p>
                <p>4. After attempting 30 questions, sections will be submitted automatically.</p>
                <p class="ins">ALL THE BEST!!</p>
                <form align="center">
                    <button align="center" type="button" class="btn btn-success" name="start" onclick="window.location.href='/logical/'">Start</button>
                </form>
            </div>
        </div>
    </body>
</html>
